html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.messages {
  height: 440px;
  overflow-y: scroll;
  max-width: 100% !important;
}

.message_form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

.message_self {
  border-left: 2px solid orange;
  padding-left: 8px;
}
.message_other {
  border-left: 2px solid blue;
  padding-left: 8px;
}

.message_image {
  padding: 1em 0.5em 0.5em 0em;
}

.progress_bar {
  margin: 0.3em 0 0 !important;
}

.menu {
  padding-bottom: 2em;
}
